nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 28px;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.color{
   background-color: #080808;
}

nav .hamburger {
  display: none;
}

nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (max-width: 700px) {
  nav .hamburger {
    display: block;
  }
  .menu {
    flex-direction: column;
    gap: 30px;
    z-index: -1;
    height: 100vh;
    top: 0vh;
    position: absolute;
    width: 100%;
    left: -100%;
    background-color: rgba(0, 0, 0, 0.7)
  }
  .active {
    left: 0;
  }
}
